# Node / Next.js
node_modules/
**/node_modules/
.next/
**/.next/
out/
build/
dist/

# Python / Django
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
**/venv/
*.sqlite3

# Environment variables & Local config
.env
.env*.local
*.env
.env.production
backend/.env.production

# Laravel Storage & Logs
backend/storage/framework/sessions/*
!backend/storage/framework/sessions/.gitignore
backend/storage/framework/views/*
!backend/storage/framework/views/.gitignore
backend/storage/framework/cache/*
!backend/storage/framework/cache/.gitignore
backend/storage/logs/*
!backend/storage/logs/.gitignore
backend/logs/*

# Java / Maven & Crash Logs
target/
**/target/
hs_err_pid*.log
replay_pid*.log

# Temporary archives
*.zip

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
